body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

footer {
    position: relative;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    background-color: #333;
}

header img {
    max-height: 50px;
}

nav a {
    color: #f0f0f0;
    margin: 0 10px;
    text-decoration: none;
}

.intro {
    text-align: center;
    padding: 20px 25%;
}

.intro h1 {
    color: #73d995;
    margin-top: 72px;
    font-size: 30pt;
}

.links {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 60px;
}

.links a {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    color: #d2d2d2;
    text-decoration: underline;
}

.links svg {
    margin-right: 10px;
}

.experience-title {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 20pt;
    color: #d2d2d2;
}

.experience-card {
    display: flex;
    margin-bottom: 20px;
    margin-left: 150px;
}

.experience-card img {
    object-fit: cover;
    width: 100px;
    height: 100%;
    margin-right: 30px;
    padding-top: 20px;
}

.date {
    font-style: italic;
}

.experience-details {
    flex-grow: 1;
}

.experience-details ul {
    padding-left: 30px;
    line-height: 2;
}


.projects-title {
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20pt;
    color: #d2d2d2;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;

}


.project-card {
    width: calc(50% - 20px);/* Adjusted width for two cards per row with some spacing */
      
    box-sizing: border-box;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.01);
}

.project-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    margin-bottom: 10px;
}

.project-details h3 {
    color: #2196f3;
}

.try-it-btn,
.source-code-btn {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}


.try-it-btn:hover,
.source-code-btn:hover {
    text-decoration: underline;
}

.try-it-btn{
    background-color: #4caf50;
    
}